<div style="display: flex; margin: 0 10px;">
  <%= "#{t('.method_name')}" %> /
  <%= "#{t('.false_label')}: #{resource.false_label}" %> /
  <%= "#{t('.truth_label')}: #{resource.truth_label}" %>
</div>
