<div style="display: flex; margin: 0 10px;">
  <%= "#{t('.left_end_label')}: #{resource.left_end_label}" %> /
  <%= "#{t('.right_end_label')}: #{resource.right_end_label}" %> /
  <%= "#{t('.level')}: #{resource.level}" %>
</div>
