<%# 選択中の方式に応じてフォームを表示する。フォームはStimulusにより切り替えられる。 %>
<div
  data-controller="recording-methods-form"
  data-recording-methods-form-new-form-index-value="0" <%# デフォルトで一番最初の方式を選択した状態とする。 %>
>
  <%= form.select(:recording_method_type,
                  [[t('recording_methods.multi_level.method_name'), 'multi_level'],
                   [t('recording_methods.binary.method_name'), 'binary']],
                  {},
                  data: { action: 'change->recording-methods-form#switchNewForm' }) %>
  <div data-recording-methods-form-target="newForm">
    <%= render 'recording_methods/new_multi_level_form', form: form %>
  </div>
  <div data-recording-methods-form-target="newForm" hidden>
    <%= render 'recording_methods/new_binary_form', form: form %>
  </div>
</div>
