<div id="<%= dom_id cat %>">
  <p>
    <strong><%= t('.name') %></strong>
    <%= cat.name %>
  </p>
  <p>
    <%= link_to t('.edit_notation_setting'), edit_cat_notation_setting_path(cat) %>
  </p>
</div>
