<%= turbo_frame_tag "cat_setting_#{cat.id}" do %>
  <div>
    <%= t('.name', name: cat.name) %>
    <%= link_to t('.edit'), edit_cat_path(cat) %>
  </div>
<% end %>
<div style="margin-left: 20px">
  <% cat.subjects.each do |subject| %>
    <%= render partial: 'subjects/subject', locals: { subject: subject } %>
  <% end %>
</div>

