<h1><%= t('.title') %></h1>

<div id="cats">
  <% @cats.each do |cat| %>
    <%= render cat %>
  <% end %>
</div>

<%= turbo_frame_tag 'new_cat' do %>
  <%= link_to t('.new_cat'), new_cat_path %>
<% end %>
