<p style="color: green"><%= notice %></p>

<h1><%= t('.title') %></h1>

<div id="cats">
  <% @cats.each do |cat| %>
    <%= render cat %>
  <% end %>
</div>

<%= link_to t('.new_cat'), new_cat_path %>
